*{
  margin: 0;
  padding: 0;
}

.principal {
  height: 100vh;
  text-align: center;
}

.principal > h1 {
  text-decoration: underline;
  margin-bottom: 10px;
}

.principal > a {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}

.principal > a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.container_galeria {
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  justify-content: space-between;
  background-color: rgb(160, 160, 160);
  color: black;
  width: 15%;
  padding: 20px;
  border: 1px solid black;
  margin: 20px auto 0px auto;
}

.container_galeria h2 {
  text-align: center;
  margin-bottom: 10px;
}
