h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
}

h2 {
    font-size: 1.7em;
}

p {
    font-size: 1.3em;
}


/* EX 04 */
.pessoa {
    width: 80%;
    margin: 50px auto auto auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
    border: 2px solid black;
    padding: 30px;
}

.pessoa img {
    width: 20%;
    margin-right: 50px;
}

.pessoa h1 {
    font-size: 2.5em;
}

.pessoa p {
    font-size: 1.5em;
}


/* EX 05 */
.card {
    border: 2px solid black;
    width: 200px;
    height: 400px;
    margin: auto auto 70px auto;
    padding: 20px;
    background-color: white;
}

.img2 {
    border: 3px solid red;
}

footer {
    border-top: 3px solid blue;
    background-color: lightblue;
    color: black;
}


/* Exercício 6 */
.aluno {
    border: 3px solid black;
    display: inline-block;
    padding: 30px;
    margin-right: 20px;
}